@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot');
  src:  url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fire2:before {
  content: "\e900";
}
.icon-shop:before {
  content: "\e901";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-building-o:before {
  content: "\f0f7";
}
.icon-fire-extinguisher:before {
  content: "\f134";
}
.icon-building:before {
  content: "\f1ad";
}
.icon-automobile:before {
  content: "\f1b9";
}
.icon-car:before {
  content: "\f1b9";
}
.icon-paint-brush:before {
  content: "\f1fc";
}
.icon-address-card-o:before {
  content: "\f2bc";
}
.icon-vcard-o:before {
  content: "\f2bc";
}
.icon-drivers-license-o:before {
  content: "\f2c3";
}
.icon-id-card-o:before {
  content: "\f2c3";
}
.icon-directions_car:before {
  content: "\e902";
}
.icon-local_car_wash:before {
  content: "\e903";
}
.icon-store_mall_directory:before {
  content: "\e904";
}
.icon-whatshot:before {
  content: "\e905";
}
.icon-dry_cleaning:before {
  content: "\e906";
}
.icon-kitchen:before {
  content: "\e907";
}
.icon-smoke_free:before {
  content: "\e908";
}
.icon-cleaning_services:before {
  content: "\e909";
}
.icon-electric_car:before {
  content: "\e90a";
}
.icon-local_fire_department:before {
  content: "\e90b";
}
.icon-clean_hands:before {
  content: "\e90c";
}
.icon-office:before {
  content: "\e90d";
}
.icon-paint-format:before {
  content: "\e90e";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-fire1:before {
  content: "\e9a9";
}
